<h1 style='color:purple' align='center'>Data Aggregation</h1>

<h2 style='color:Orange'>API Key setup</h2>

In [7]:
import pandas as pd
import numpy as np
import pandas as pd
import googlemaps
import math
import os.path

gmaps = googlemaps.Client(key="AIzaSyBYMGxceM10RqSBpWvVRwmL9u_lyjRYb88")

<h4 style='color:orange'>Loading dataset</h4>

In [8]:
df1 = pd.read_csv("CNF.csv")
df1.head()

,Address_ID,Address,Land_size(Perches),Price_Scale,Land_type,Posted_Date_new,Distance from fort,count_govtschools_A,min_dist_govtschools_a,count_govtschools_B,...,min_dist_nearest_Pvt_Med_center,count_Pvt_Med_Centers,min_dist_nearest_Supermarket,count_Supermarkets_within2km,min_dist_nearest_Fuel_station,count_Fuel_Stations_within2km,Mentioned Price(Rs),Price per Perch,latitude,longitude
0,6,battaramulla,12.0,per perch,"Commercial, Residential",9/21/2021,11.35,0,3.099786,3,...,0.184196,2,0.275528,11,1.185148,2,"3,800,000.00","3,800,000.00",6.897929,79.918872
1,12,nawala,22.0,per perch,"Commercial, Residential",9/21/2021,9.16,2,1.530830,12,...,2.102498,0,0.229320,17,1.221396,4,"6,500,000.00","6,500,000.00",6.899527,79.883915
2,16,mount lavinia,23.0,per perch,Residential,9/21/2021,12.89,0,2.727171,5,...,1.188858,2,0.113300,20,1.052876,5,"2,600,000.00","2,600,000.00",6.809737,79.871319
3,12,nawala,22.0,per perch,"Commercial, Residential",9/21/2021,9.16,2,1.530830,12,...,2.102498,0,0.229320,17,1.221396,4,"6,500,000.00","6,500,000.00",6.897027,79.884947
4,22,hokandara,11.0,total price,Residential,9/21/2021,16.39,0,4.673446,1,...,4.563302,0,1.187704,5,0.074059,1,"1,200,000.00","109,090.91",6.884656,79.953253

In [9]:
def get_info(lat, lng, radius, type_de):
    try:
        places = gmaps.places_nearby(location=(lat, lng), radius=radius, type=type_de)
        count = len(places['results'])

        if count > 0:
            distances = [haversine_distance(lat, lng, place['geometry']['location']) for place in places['results']]
            if distances:  # Check if distances list is not empty
                closest_place_index = distances.index(min(distances))
                closest_place = places['results'][closest_place_index]
                min_distance = gmaps.distance_matrix(origins=(lat, lng), destinations=(
                    closest_place['geometry']['location']['lat'], closest_place['geometry']['location']['lng']))[
                    'rows'][0]['elements'][0][
                    'distance']['value']
            else:
                min_distance = 0
        else:
            min_distance = 0
        return count, min_distance

    except googlemaps.exceptions.ApiError as e:
        print(f"An API error occurred while processing {type_de}: {e}")
        return 0, 0
    except ValueError as ve:
        print(f"Error in distance calculation: {ve}")
        return 0, 0
    except Exception as ex:
        print(f"An unexpected error occurred while processing {type_de}: {ex}")
        return 0, 0




def haversine_distance(lat1, lon1, destination):
    lat2, lon2 = destination["lat"], destination["lng"]

    const_r = 6371
    d_lat = deg2rad(lat2 - lat1)
    d_lon = deg2rad(lon2 - lon1)

    a = (math.sin(d_lat / 2) * math.sin(d_lat / 2) +
         math.cos(deg2rad(lat1)) * math.cos(deg2rad(lat2)) *
         math.sin(d_lon / 2) * math.sin(d_lon / 2))
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))

    distance = const_r * c
    return distance

def deg2rad(deg):
    return deg * (math.pi / 180)

In [13]:
adding_types = [
    "bakery",
    "bank",
    "bar",
    "bus_station",
    "clothing_store",
    "doctor",
    "gas_station",
    "gym",
    "hospital",
    "university",
    "train_station",
    "supermarket",
    "store",
    "school",
    "restaurant",
    "police",
    "post_office",
    "pharmacy",
    "movie_theater",
    "library"
]


def add_random_location_columns(row, row_number):
    print('Row number: ', row_number)
    lat = row['latitude']
    lng = row['longitude']

    for name in adding_types:
        print('Adding types: ', name)
        # Find random location based on city area and distance to Fort
        count, min_distance = get_info(lat, lng, 1000, name)
        print('Adding types: ', count, min_distance)

        # Update the row with random latitude and longitude
        row[f'{name}_count'] = count
        row[f'{name}_mdist'] = min_distance

    # Determine whether to create a new file or append to an existing one
    output_file = 'NewDataset.csv'
    if os.path.isfile(output_file):
        # Append the row to the existing CSV file
        df3 = pd.DataFrame([row])
        df3.to_csv(output_file, mode='a', index=False, header=False)
    else:
        # Create a new CSV file with the header
        df3 = pd.DataFrame([row])
        df3.to_csv(output_file, index=False, header=True)

    return row

# Apply the function to each row in the DataFrame
df1[993: 1001].apply(lambda x: add_random_location_columns(x, x.name), axis=1)

Row number:  993
Adding types:  bakery
Adding types:  2 1439
Adding types:  bank
Adding types:  1 969
Adding types:  bar
Adding types:  0 0
Adding types:  bus_station
Adding types:  0 0
Adding types:  clothing_store
Adding types:  7 651
Adding types:  doctor
Adding types:  0 0
Adding types:  gas_station
Adding types:  0 0
Adding types:  gym
Adding types:  1 1687
Adding types:  hospital
Adding types:  3 1230
Adding types:  university
Adding types:  0 0
Adding types:  train_station
Adding types:  0 0
Adding types:  supermarket
Adding types:  0 0
Adding types:  store
Adding types:  20 334
Adding types:  school
Adding types:  4 1238
Adding types:  restaurant
Adding types:  5 760
Adding types:  police
Adding types:  0 0
Adding types:  post_office
Adding types:  0 0
Adding types:  pharmacy
Adding types:  0 0
Adding types:  movie_theater
Adding types:  1 600
Adding types:  library
Adding types:  0 0
Row number:  994
Adding types:  bakery
Adding types:  6 691
Adding types:  bank
Adding types:  2 1589
Adding types:  bar
Adding types:  0 0
Adding types:  bus_station
Adding types:  0 0
Adding types:  clothing_store
Adding types:  5 492
Adding types:  doctor
Adding types:  2 1664
Adding types:  gas_station
Adding types:  1 1026
Adding types:  gym
Adding types:  1 870
Adding types:  hospital
Adding types:  4 870
Adding types:  university
Adding types:  0 0
Adding types:  train_station
Adding types:  0 0
Adding types:  supermarket
Adding types:  1 1007
Adding types:  store
Adding types:  20 22
Adding types:  school
Adding types:  4 1856
Adding types:  restaurant
Adding types:  11 576
Adding types:  police
Adding types:  0 0
Adding types:  post_office
Adding types:  1 1079
Adding types:  pharmacy
Adding types:  3 1003
Adding types:  movie_theater
Adding types:  0 0
Adding types:  library
Adding types:  0 0
Row number:  995
Adding types:  bakery
Adding types:  6 912
Adding types:  bank
Adding types:  2 838
Adding types:  bar
Adding types:  1 13276
Adding types:  bus_station
Adding types:  0 0
Adding types:  clothing_store
Adding types:  7 455
Adding types:  doctor
Adding types:  1 1151
Adding types:  gas_station
Adding types:  1 754
Adding types:  gym
Adding types:  1 599
Adding types:  hospital
Adding types:  6 598
Adding types:  university
Adding types:  0 0
Adding types:  train_station
Adding types:  0 0
Adding types:  supermarket
Adding types:  1 735
Adding types:  store
Adding types:  20 451
Adding types:  school
Adding types:  5 1456
Adding types:  restaurant
Adding types:  12 594
Adding types:  police
Adding types:  1 1086
Adding types:  post_office
Adding types:  1 807
Adding types:  pharmacy
Adding types:  3 732
Adding types:  movie_theater
Adding types:  0 0
Adding types:  library
Adding types:  0 0
Row number:  996
Adding types:  bakery
Adding types:  5 439
Adding types:  bank
Adding types:  2 365
Adding types:  bar
Adding types:  1 12804
Adding types:  bus_station
Adding types:  0 0
Adding types:  clothing_store
Adding types:  6 137
Adding types:  doctor
Adding types:  1 678
Adding types:  gas_station
Adding types:  1 281
Adding types:  gym
Adding types:  1 126
Adding types:  hospital
Adding types:  5 125
Adding types:  university
Adding types:  0 0
Adding types:  train_station
Adding types:  0 0
Adding types:  supermarket
Adding types:  1 263
Adding types:  store
Adding types:  20 19
Adding types:  school
Adding types:  6 776
Adding types:  restaurant
Adding types:  12 122
Adding types:  police
Adding types:  1 613
Adding types:  post_office
Adding types:  1 334
Adding types:  pharmacy
Adding types:  3 259
Adding types:  movie_theater
Adding types:  0 0
Adding types:  library
Adding types:  0 0
Row number:  997
Adding types:  bakery
Adding types:  6 561
Adding types:  bank
Adding types:  2 1865
Adding types:  bar
Adding types:  0 0
Adding types:  bus_station
Adding types:  0 0
Adding types:  clothing_store
Adding types:  6 622
Adding types:  doctor
Adding types:  2 1795
Adding types:  gas_station
Adding types:  1 1156
Adding types:  gym
Adding types:  1 1001
Adding types:  hospital
Adding types:  4 1000
Adding types:  university
Adding types:  0 0
Adding types:  train_station
Adding types:  0 0
Adding types:  supermarket
Adding types:  1 1137
Adding types:  store
Adding types:  20 108
Adding types:  school
Adding types:  4 1726
Adding types:  restaurant
Adding types:  11 706
Adding types:  police
Adding types:  0 0
Adding types:  post_office
Adding types:  1 1209
Adding types:  pharmacy
Adding types:  3 1134
Adding types:  movie_theater
Adding types:  1 1248
Adding types:  library
Adding types:  0 0
Row number:  998
Adding types:  bakery
Adding types:  20 252
Adding types:  bank
Adding types:  12 400
Adding types:  bar
Adding types:  8 251
Adding types:  bus_station
Adding types:  0 0
Adding types:  clothing_store
Adding types:  20 89
Adding types:  doctor
Adding types:  4 20
Adding types:  gas_station
Adding types:  2 2786
Adding types:  gym
Adding types:  11 408
Adding types:  hospital
Adding types:  17 91
Adding types:  university
Adding types:  7 149
Adding types:  train_station
Adding types:  0 0
Adding types:  supermarket
Adding types:  6 225
Adding types:  store
Adding types:  20 168
Adding types:  school
Adding types:  20 202
Adding types:  restaurant
Adding types:  20 33
Adding types:  police
Adding types:  0 0
Adding types:  post_office
Adding types:  2 1631
Adding types:  pharmacy
Adding types:  11 152
Adding types:  movie_theater
Adding types:  1 614
Adding types:  library
Adding types:  2 1513
Row number:  999
Adding types:  bakery
Adding types:  20 350
Adding types:  bank
Adding types:  14 395
Adding types:  bar
Adding types:  2 1009
Adding types:  bus_station
Adding types:  1 915
Adding types:  clothing_store
Adding types:  20 183
Adding types:  doctor
Adding types:  10 289
Adding types:  gas_station
Adding types:  3 750
Adding types:  gym
Adding types:  13 333
Adding types:  hospital
Adding types:  18 140
Adding types:  university
Adding types:  14 1265
Adding types:  train_station
Adding types:  0 0
Adding types:  supermarket
Adding types:  10 404
Adding types:  store
Adding types:  20 266
Adding types:  school
Adding types:  20 103
Adding types:  restaurant
Adding types:  20 139
Adding types:  police
Adding types:  4 1676
Adding types:  post_office
Adding types:  5 507
Adding types:  pharmacy
Adding types:  13 316
Adding types:  movie_theater
Adding types:  0 0
Adding types:  library
Adding types:  1 824
Row number:  1000
Adding types:  bakery
Adding types:  20 48
Adding types:  bank
Adding types:  13 517
Adding types:  bar
Adding types:  7 484
Adding types:  bus_station
Adding types:  0 0
Adding types:  clothing_store
Adding types:  20 55
Adding types:  doctor
Adding types:  4 279
Adding types:  gas_station
Adding types:  2 3019
Adding types:  gym
Adding types:  9 575
Adding types:  hospital
Adding types:  19 151
Adding types:  university
Adding types:  7 382
Adding types:  train_station
Adding types:  0 0
Adding types:  supermarket
Adding types:  6 498
Adding types:  store
Adding types:  20 402
Adding types:  school
Adding types:  15 435
Adding types:  restaurant
Adding types:  20 14
Adding types:  police
Adding types:  0 0
Adding types:  post_office
Adding types:  2 1864
Adding types:  pharmacy
Adding types:  11 501
Adding types:  movie_theater
Adding types:  2 847
Adding types:  library
Adding types:  2 1213

,Address_ID,Address,Land_size(Perches),Price_Scale,Land_type,Posted_Date_new,Distance from fort,count_govtschools_A,min_dist_govtschools_a,count_govtschools_B,...,police_count,police_mdist,post_office_count,post_office_mdist,pharmacy_count,pharmacy_mdist,movie_theater_count,movie_theater_mdist,library_count,library_mdist
993,1,ranala,9.60,per perch,Residential,9/11/2021,23.32,0,11.681242,0,...,0,0,0,0,0,0,1,600,0,0
994,1,ranala,6.20,per perch,Residential,9/11/2021,23.32,0,11.681242,0,...,0,0,1,1079,3,1003,0,0,0,0
995,1,ranala,9.60,per perch,Residential,9/11/2021,23.32,0,11.681242,0,...,1,1086,1,807,3,732,0,0,0,0
996,1,ranala,7.00,total price,Residential,9/11/2021,23.32,0,11.681242,0,...,1,613,1,334,3,259,0,0,0,0
997,1,ranala,6.35,total price,"Commercial, Residential, Other",9/11/2021,23.32,0,11.681242,0,...,0,0,1,1209,3,1134,1,1248,0,0
998,10,thalawathugoda,20.90,per perch,Residential,9/11/2021,14.19,0,3.947032,1,...,0,0,2,1631,11,152,1,614,2,1513
999,6,battaramulla,16.50,per perch,Residential,9/11/2021,11.35,0,3.099786,3,...,4,1676,5,507,13,316,0,0,1,824
1000,10,thalawathugoda,8.50,per perch,Residential,9/11/2021,14.19,0,3.947032,1,...,0,0,2,1864,11,501,2,847,2,1213

In [16]:
df1[900:1000]

,Address_ID,Address,Land_size(Perches),Price_Scale,Land_type,Posted_Date_new,Distance from fort,count_govtschools_A,min_dist_govtschools_a,count_govtschools_B,...,min_dist_nearest_Pvt_Med_center,count_Pvt_Med_Centers,min_dist_nearest_Supermarket,count_Supermarkets_within2km,min_dist_nearest_Fuel_station,count_Fuel_Stations_within2km,Mentioned Price(Rs),Price per Perch,latitude,longitude
900,11,madapatha,6.60,total price,Residential,9/12/2021,22.59,0,4.208844,1,...,4.290939,0,3.053364,0,3.525063,0,"5,850,000.00","886,363.64",6.765003,79.925586
901,2,makandana,6.70,per perch,Residential,9/12/2021,22.39,0,5.374540,2,...,3.889013,0,1.602959,2,2.940111,0,"885,000.00","885,000.00",6.782550,79.955724
902,11,madapatha,6.00,per perch,Residential,9/12/2021,22.59,0,4.208844,1,...,4.290939,0,3.053364,0,3.525063,0,"900,000.00","900,000.00",6.775709,79.928845
903,2,makandana,8.50,per perch,"Commercial, Residential",9/12/2021,22.39,0,5.374540,2,...,3.889013,0,1.602959,2,2.940111,0,"890,500.00","890,500.00",6.784896,79.950732
904,2,makandana,10.00,total price,Residential,9/12/2021,22.39,0,5.374540,2,...,3.889013,0,1.602959,2,2.940111,0,"8,000,000.00","800,000.00",6.778345,79.943382
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1,ranala,9.60,per perch,Residential,9/11/2021,23.32,0,11.681242,0,...,5.970520,0,1.969323,1,1.735536,1,"450,000.00","450,000.00",6.922114,80.022340
996,1,ranala,7.00,total price,Residential,9/11/2021,23.32,0,11.681242,0,...,5.970520,0,1.969323,1,1.735536,1,"2,500,000.00","357,142.86",6.924481,80.022491
997,1,ranala,6.35,total price,"Commercial, Residential, Other",9/11/2021,23.32,0,11.681242,0,...,5.970520,0,1.969323,1,1.735536,1,"625,000.00","98,425.20",6.918475,80.025175
998,10,thalawathugoda,20.90,per perch,Residential,9/11/2021,14.19,0,3.947032,1,...,2.606001,0,0.207307,9,1.832361,1,"2,375,000.00","2,375,000.00",6.875210,79.932185
999,6,battaramulla,16.50,per perch,Residential,9/11/2021,11.35,0,3.099786,3,...,0.184196,2,0.275528,11,1.185148,2,"3,300,000.00","3,300,000.00",6.904208,79.924967

In [17]:
df1.shape

(3125, 37)