<h1 style='color:purple' align='center'>Data Science Regression Project: Predicting Land Prices in Colombo</h1>

Dataset is downloaded from here: https://www.kaggle.com/datasets/ruchiraayeshmantha/land-prices-of-colombo-district?resource=download

**Usages for data generations**

In [1]:
switch_dict = {
    'Agricultural': 1,
    'Commercial': 2,
    'Residential': 3,
    'Other': 4
}

In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
matplotlib.rcParams["figure.figsize"] = (20,10)
pd.reset_option('display.float_format')
import requests

<h2 style='color:blue'>Data Load: Load Colombo land prices into a dataframe</h2>

In [3]:
df1 = pd.read_csv("datasets/P4_Data.csv")
df1.head()

,longitude,latitude,Price per Perch,Agricultural,Commercial,Residential,Other,Address,Price_Scale,Mentioned Price(Rs),...,police_mdist,post_office_count,post_office_mdist,pharmacy_count,pharmacy_mdist,movie_theater_count,movie_theater_mdist,library_count,library_mdist,Air
0,79.980418,6.917638,2372737.53,0.0,0.0,0.0,1.0,malabe,per perch,"440,000.00",...,773.0,2.0,602.0,9.0,1059.0,0.0,583.0,1.0,567.0,127.0
1,80.022840,6.910340,514669.88,0.0,0.0,1.0,0.0,ranala,total price,"4,000,000.00",...,0.0,0.0,0.0,0.0,0.0,1.0,514.0,0.0,0.0,125.0
2,79.943102,6.882818,2562167.25,0.0,1.0,0.0,0.0,thalawathugoda,per perch,"2,100,000.00",...,0.0,2.0,1150.0,10.0,695.0,1.0,1076.0,0.0,0.0,123.0
3,79.962091,6.890742,2048051.51,0.0,0.0,0.0,1.0,malabe,per perch,"850,000.00",...,773.0,2.0,602.0,9.0,1059.0,0.0,583.0,1.0,567.0,127.0
4,79.913879,6.835342,2230222.57,0.0,0.0,1.0,0.0,maharagama,per perch,"1,550,000.00",...,0.0,2.0,1261.0,14.0,521.0,2.0,1165.0,0.0,0.0,121.0

In [4]:
df1.shape

(23124, 81)

In [5]:
df1.columns

Index(['longitude', 'latitude', 'Price per Perch', 'Agricultural',
       'Commercial', 'Residential', 'Other', 'Address', 'Price_Scale',
       'Mentioned Price(Rs)', 'Address_ID', 'Land_size(Perches)',
       'Posted_Date_new', 'Distance from fort', 'count_govtschools_A',
       'min_dist_govtschools_a', 'count_govtschools_B',
       'min_dist_govtschools_b', 'count_semigovtschools',
       'min_dist_semigovtschools', 'count_intlschools', 'min_dist_intlschools',
       'count_uni', 'min_dist_uni', 'min_dist_nearest_express',
       'min_dist_nearest_railway', 'min_dist_nearest_bank',
       'count_banks_within_2km', 'min_dist_nearest_FinanceCompany',
       'count_FinanceCompanies_within_2km', 'min_dist_nearest_Govt_Hospital',
       'count_Govt_Hospitals', 'min_dist_nearest_Pvt_Hospital',
       'count_Pvt_Hospital', 'min_dist_nearest_Pvt_Med_center',
       'count_Pvt_Med_Centers', 'min_dist_nearest_Supermarket',
       'count_Supermarkets_within2km', 'min_dist_nearest_Fuel_station',
       'count_Fuel_Stations_within2km', 'bakery_count', 'bakery_mdist',
       'bank_count', 'bank_mdist', 'bar_count', 'bar_mdist',
       'bus_station_count', 'bus_station_mdist', 'clothing_store_count',
       'clothing_store_mdist', 'doctor_count', 'doctor_mdist',
       'gas_station_count', 'gas_station_mdist', 'gym_count', 'gym_mdist',
       'hospital_count', 'hospital_mdist', 'university_count',
       'university_mdist', 'train_station_count', 'train_station_mdist',
       'supermarket_count', 'supermarket_mdist', 'store_count', 'store_mdist',
       'school_count', 'school_mdist', 'restaurant_count', 'restaurant_mdist',
       'police_count', 'police_mdist', 'post_office_count',
       'post_office_mdist', 'pharmacy_count', 'pharmacy_mdist',
       'movie_theater_count', 'movie_theater_mdist', 'library_count',
       'library_mdist', 'Air'],
      dtype='object')

In [6]:
df1['Address'].unique()

array(['malabe', 'ranala', 'thalawathugoda', 'maharagama', 'madapatha',
       'mount lavinia', 'kirulapone', 'kesbewa', 'nugegoda', 'makandana',
       'bope', 'nawala', 'kaduwela', 'bomiriya', 'athurugiriya',
       'piliyandala', 'dehiwala', 'battaramulla', 'boralesgamuwa',
       'hokandara', 'homagama', 'kahathuduwa', 'pitakotte', 'diyagama'],
      dtype=object)

In [7]:
df1['Address'].value_counts()

Address
ranala            2596
makandana         1995
kaduwela          1835
kesbewa           1523
piliyandala       1476
battaramulla      1430
malabe            1178
nugegoda          1023
thalawathugoda     864
bomiriya           848
madapatha          844
bope               824
nawala             817
dehiwala           706
homagama           681
athurugiriya       675
kahathuduwa        654
mount lavinia      576
diyagama           450
pitakotte          450
hokandara          428
maharagama         425
boralesgamuwa      424
kirulapone         402
Name: count, dtype: int64

<h2 style='color:blue'>Data Filter: Filter based on data counts higher than 50 for each city name</h2>

In [8]:
# Assuming df1 is your DataFrame
address_counts = df1['Address'].value_counts()
filtered_addresses = address_counts[address_counts >= 50].index
filtered_df = df1[df1['Address'].isin(filtered_addresses)]
filtered_df['Address'].value_counts()
row_count = filtered_df.shape[0]
print("Number of rows:", row_count)
filtered_df['Address'].value_counts()

Number of rows: 23124

Address
ranala            2596
makandana         1995
kaduwela          1835
kesbewa           1523
piliyandala       1476
battaramulla      1430
malabe            1178
nugegoda          1023
thalawathugoda     864
bomiriya           848
madapatha          844
bope               824
nawala             817
dehiwala           706
homagama           681
athurugiriya       675
kahathuduwa        654
mount lavinia      576
diyagama           450
pitakotte          450
hokandara          428
maharagama         425
boralesgamuwa      424
kirulapone         402
Name: count, dtype: int64

**Drop features that are not required to build our model**

In [9]:
df2 = df1.drop(['Land_size(Perches)', 'Price_Scale', 'Distance from fort', 'Mentioned Price(Rs)'], axis='columns')
df2.shape

(23124, 77)

<h2 style='color:blue'>Data Cleaning</h2>

**Handle NA values**

In [10]:
df2.isnull().sum()

longitude              0
latitude               0
Price per Perch        0
Agricultural           0
Commercial             0
                      ..
movie_theater_count    0
movie_theater_mdist    0
library_count          0
library_mdist          0
Air                    0
Length: 77, dtype: int64

In [11]:
df2.shape

(23124, 77)

In [12]:
df3 = df2.dropna()
df3.isnull().sum()

longitude              0
latitude               0
Price per Perch        0
Agricultural           0
Commercial             0
                      ..
movie_theater_count    0
movie_theater_mdist    0
library_count          0
library_mdist          0
Air                    0
Length: 77, dtype: int64

In [13]:
df3.shape

(23124, 77)

In [14]:
df3.head()

,longitude,latitude,Price per Perch,Agricultural,Commercial,Residential,Other,Address,Address_ID,Posted_Date_new,...,police_mdist,post_office_count,post_office_mdist,pharmacy_count,pharmacy_mdist,movie_theater_count,movie_theater_mdist,library_count,library_mdist,Air
0,79.980418,6.917638,2372737.53,0.0,0.0,0.0,1.0,malabe,12.0,07/15/2021,...,773.0,2.0,602.0,9.0,1059.0,0.0,583.0,1.0,567.0,127.0
1,80.022840,6.910340,514669.88,0.0,0.0,1.0,0.0,ranala,1.0,11/13/2021,...,0.0,0.0,0.0,0.0,0.0,1.0,514.0,0.0,0.0,125.0
2,79.943102,6.882818,2562167.25,0.0,1.0,0.0,0.0,thalawathugoda,10.0,10/01/2023,...,0.0,2.0,1150.0,10.0,695.0,1.0,1076.0,0.0,0.0,123.0
3,79.962091,6.890742,2048051.51,0.0,0.0,0.0,1.0,malabe,12.0,10/04/2021,...,773.0,2.0,602.0,9.0,1059.0,0.0,583.0,1.0,567.0,127.0
4,79.913879,6.835342,2230222.57,0.0,0.0,1.0,0.0,maharagama,21.0,06/19/2022,...,0.0,2.0,1261.0,14.0,521.0,2.0,1165.0,0.0,0.0,121.0

<h2 style='color:blue'>Feature Engineering</h2>

**Method to check date type is correct**

In [15]:
def checkTypeDate(df, column_name):
    try:
        # Assuming 'Posted_Date_new' has the format 'mm/dd/yyyy'
        pd.to_datetime(df[column_name], format='%m/%d/%Y', errors='raise')
        
        print(f"Success: {column_name}")
        return True
    except ValueError as ve:
        # Specific handling for the ValueError when conversion fails
        print(f"Error: {column_name}, Error: {ve}")
        return False
    except Exception as e:
        # General handling for other exceptions
        print(f"Error: {column_name}, Unexpected Error: {e}")
        return False

In [16]:
checkTypeDate(df3, 'Posted_Date_new')

Success: Posted_Date_new

True

**Create a current month column**

In [17]:
from datetime import datetime

def addDateCount(given_date, min_date):
    # Calculate the difference
    difference = given_date - min_date
        
    # Extract the number of days from the difference
    return difference.days

def convertToDate(date_string):
    return datetime.strptime(date_string, "%m/%d/%Y")

In [18]:
df3['Posted_Date_new'] = df3['Posted_Date_new'].apply(convertToDate)
min_date = df3['Posted_Date_new'].min()
print(min_date)

df3['date_from'] = df3['Posted_Date_new'].apply(lambda x: addDateCount(x, min_date))
df3.head()

2015-09-10 00:00:00

,longitude,latitude,Price per Perch,Agricultural,Commercial,Residential,Other,Address,Address_ID,Posted_Date_new,...,post_office_count,post_office_mdist,pharmacy_count,pharmacy_mdist,movie_theater_count,movie_theater_mdist,library_count,library_mdist,Air,date_from
0,79.980418,6.917638,2372737.53,0.0,0.0,0.0,1.0,malabe,12.0,2021-07-15,...,2.0,602.0,9.0,1059.0,0.0,583.0,1.0,567.0,127.0,2135
1,80.022840,6.910340,514669.88,0.0,0.0,1.0,0.0,ranala,1.0,2021-11-13,...,0.0,0.0,0.0,0.0,1.0,514.0,0.0,0.0,125.0,2256
2,79.943102,6.882818,2562167.25,0.0,1.0,0.0,0.0,thalawathugoda,10.0,2023-10-01,...,2.0,1150.0,10.0,695.0,1.0,1076.0,0.0,0.0,123.0,2943
3,79.962091,6.890742,2048051.51,0.0,0.0,0.0,1.0,malabe,12.0,2021-10-04,...,2.0,602.0,9.0,1059.0,0.0,583.0,1.0,567.0,127.0,2216
4,79.913879,6.835342,2230222.57,0.0,0.0,1.0,0.0,maharagama,21.0,2022-06-19,...,2.0,1261.0,14.0,521.0,2.0,1165.0,0.0,0.0,121.0,2474

**Add Columns which help to predict the price range for next months**

**Below add_month_lowest_highest_columns method adding columns 'X_lowest', 'X_highest' for dataframe. it contains min max values for the month of that Address_ID**

In [20]:
import pandas as pd

def add_month_lowest_highest_columns(df):
    # Convert Posted_Date_new to datetime with dayfirst=True
    df['Date_new'] = pd.to_datetime(df['Posted_Date_new'], format='%m/%d/%Y', dayfirst=True)

    # Extract month from Posted_Date_new
    df['Month'] = df['Date_new'].dt.to_period('M')

    # Step 1: Group by Address_ID and Month
    grouped_address = df.groupby(['Address_ID', 'Month'])

    # Step 2: For each group, find the min and max values
    result = grouped_address.agg({'Price per Perch': ['min', 'max']}).reset_index()

    # Rename the columns to month_lowest and month_highest
    result.columns = ['Address_ID', 'Month', 'min', 'max']

    # Step 3: Merge the result DataFrame back to the original DataFrame
    df = pd.merge(df, result, on=['Address_ID', 'Month'], how='left')

    # Create a new column for the next month
    df['Next_Month'] = df['Month'].apply(lambda x: x + 1)

    # Step 4: Merge the result DataFrame for the next month back to the original DataFrame
    df = pd.merge(df, result, left_on=['Address_ID', 'Next_Month'], right_on=['Address_ID', 'Month'],
                  suffixes=('_current', '_next'), how='left')

    # Drop the Next_Month column if not needed
    df.drop(['Next_Month'], axis=1, inplace=True)

    return df

In [21]:
df3 = add_month_lowest_highest_columns(df3)

In [22]:
df3.drop(['Month_next', 'Month_current', 'Date_new'], axis='columns', inplace=True)
df3

,longitude,latitude,Price per Perch,Agricultural,Commercial,Residential,Other,Address,Address_ID,Posted_Date_new,...,movie_theater_count,movie_theater_mdist,library_count,library_mdist,Air,date_from,min_current,max_current,min_next,max_next
0,79.980418,6.917638,2372737.53,0.0,0.0,0.0,1.0,malabe,12.0,2021-07-15,...,0.0,583.0,1.0,567.0,127.0,2135,234247.74,5161169.37,193502.50,4921423.56
1,80.022840,6.910340,514669.88,0.0,0.0,1.0,0.0,ranala,1.0,2021-11-13,...,1.0,514.0,0.0,0.0,125.0,2256,475627.49,610000.00,443700.36,625000.00
2,79.943102,6.882818,2562167.25,0.0,1.0,0.0,0.0,thalawathugoda,10.0,2023-10-01,...,1.0,1076.0,0.0,0.0,123.0,2943,862793.15,3544916.65,915758.54,2603136.17
3,79.962091,6.890742,2048051.51,0.0,0.0,0.0,1.0,malabe,12.0,2021-10-04,...,0.0,583.0,1.0,567.0,127.0,2216,229366.26,4800000.00,245207.15,4993680.32
4,79.913879,6.835342,2230222.57,0.0,0.0,1.0,0.0,maharagama,21.0,2022-06-19,...,2.0,1165.0,0.0,0.0,121.0,2474,1750000.00,2230222.57,1982756.29,1982756.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23119,79.935589,6.878750,1350000.00,0.0,0.0,1.0,0.0,thalawathugoda,10.0,2015-10-28,...,1.0,484.0,0.0,0.0,127.0,48,1350000.00,1350000.00,850000.00,850000.00
23120,79.973969,6.916685,1500000.00,0.0,0.0,1.0,0.0,malabe,7.0,2016-02-14,...,0.0,0.0,1.0,712.0,129.0,157,440000.00,1500000.00,1500000.00,1500000.00
23121,79.926329,6.850203,1550000.00,0.0,0.0,1.0,0.0,maharagama,21.0,2015-09-10,...,5.0,1648.0,3.0,1236.0,126.0,0,1550000.00,1550000.00,NaN,NaN
23122,79.874762,6.825001,3000000.00,0.0,0.0,1.0,0.0,mount lavinia,16.0,2017-01-24,...,1.0,1081.0,0.0,0.0,126.0,502,2000000.00,3000000.00,NaN,NaN
23123,79.989545,6.780432,395000.00,0.0,0.0,1.0,0.0,kahathuduwa,14.0,2016-02-03,...,0.0,0.0,0.0,0.0,122.0,146,395000.00,395000.00,NaN,NaN